/* src/components/Player.css */

li.Player {
  display: flex;
  align-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
}

li.Player p {
  flex: 1;
  padding: 12px 24px;
  font-size: 150%;
}

li.Player p.name {
  font-weight: bold;
}

li.Player p.score {
  max-width: 50px;
}
